@import "src/Components/globals.scss";

.muk_input {
    display: inline-flex;
    border: 1px solid map-get($colors, "dark");
    background-color: map-get($colors, "white");
    position: relative;

    input {
        width: 100%;
        height: 20px;
        border: 0;
        padding: 6px;
        margin-left: 5px;
        background-color: transparent;
        border-radius: inherit;
        text-overflow: ellipsis;
        &:focus {
            outline: none;
        }
    }

    i {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($colors, "dark");
        cursor: pointer;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }

    @include boxshadow_transition;

    &:focus-within {
        @include boxshadow;
    }

    &--square--radius {
        border-radius: map-get($radius_sizes, "square");
    }
    &--basic--radius {
        border-radius: map-get($radius_sizes, "basic");
    }
    &--round--radius {
        border-radius: map-get($radius_sizes, "round");
    }

    &--fluid {
        width: 100%;
    }
}
