@use "sass:map";
@import "src/Components/globals";

.muk_input {
    display: flex;
    width: 100%;
    border: 1px solid map-get($colors, "dark");
    background-color: map-get($colors, "white");
    @include boxshadow_transition;

    &:focus-within {
        @include boxshadow;
    }

    &--square--radius {
        border-radius: map-get($radius_sizes, "square");
    }
    &--basic--radius {
        border-radius: map-get($radius_sizes, "basic");
    }
    &--round--radius {
        border-radius: map-get($radius_sizes, "round");
    }

    &--password {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr 30px;
    }

    input {
        width: 100%;
        border: 0;
        padding: 5px;
        margin-left: 5px;
        background-color: transparent;
        border-radius: inherit;
        text-overflow: ellipsis;
        &:focus {
            outline: none;
        }
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($colors, "dark");
        cursor: pointer;
    }
}
