@import "src/Components/globals.scss";

$button_colors: (
    "primary": #007bff,
    "primary_dark": #005fc5,
    "secondary": #4073b9,
    "secondary_dark": #2c3691,
    "success": #93d33f,
    "success_dark": rgb(49, 143, 60),
    "error": #ee2229,
    "error_dark": #b30b0d,
    "warn": #f89c27,
    "warn_dark": #d6531b,
);

$gloss: false;

.mut_button {
    border: none;
    text-align: center;
    color: map-get($colors, "darker");
    display: inline-flex;
    align-items: center;
    line-height: 20px;
    $b: &;

    @include boxshadow_transition;

    &:hover {
        @include boxshadow;
    }

    &:focus {
        outline: none;
    }

    &:active {
        overflow: hidden;
    }

    &--pointer {
        @include pointer;
    }

    &--border {
        border: 1px solid map-get($colors, "darker");
    }

    &--size {
        &--small {
            padding: map-get($padding_sizes, "small");
            font-size: map-get($font_sizes, "small");
            &[class*="glossy"] {
                text-shadow: make_text_shadow("small", "darkest");
            }
        }

        &--medium {
            padding: map-get($padding_sizes, "medium");
            font-size: map-get($font_sizes, "medium");
            &[class*="glossy"] {
                text-shadow: make_text_shadow("medium", "darkest");
            }
        }

        &--large {
            padding: map-get($padding_sizes, "large");
            font-size: map-get($font_sizes, "large");
            &[class*="glossy"] {
                text-shadow: make_text_shadow("large", "darkest");
            }
        }

        &--extra {
            padding: map-get($padding_sizes, "extra");
            font-size: map-get($font_sizes, "extra");
            &[class*="mut_button"][class*="glossy"] {
                text-shadow: make_text_shadow("extra", "darkest");
            }
        }

        &--jumbo {
            padding: map-get($padding_sizes, "jumbo");
            font-size: map-get($font_sizes, "jumbo");
            &[class*="glossy"] {
                text-shadow: make_text_shadow("jumbo", "darkest");
            }
        }
    }

    &--type {
        &--square {
            border-radius: map-get($radius_sizes, "square");
        }

        &--basic {
            border-radius: map-get($radius_sizes, "basic");
        }

        &--round {
            border-radius: map-get($radius_sizes, "round");
        }
    }

    &--disabled {
        background-color: map-get($colors, "dark") !important;
        color: map-get($colors, "medium") !important;
        cursor: not-allowed !important;
        &--border {
            border: 1px solid map-get($colors, "darker") !important;
        }
    }

    &--variant {
        &--primary {
            color: map-get($colors, "white");
            background-color: map-get($button_colors, "primary");

            &:active {
                background-color: darken(map-get($button_colors, "primary"), 5);
            }
            &--glossy {
                background-color: map-get($button_colors, "primary");
                background: make_gloss($button_colors, "primary_dark", "primary");
            }
        }

        &--secondary {
            color: map-get($colors, "white");
            background-color: map-get($button_colors, "secondary");
            &:active {
                background-color: darken(map-get($button_colors, "secondary"), 5);
            }
            &--glossy {
                background-color: map-get($button_colors, "secondary");
                background: make_gloss($button_colors, "secondary_dark", "secondary");
            }
        }

        &--success {
            color: map-get($colors, "darkest");
            background-color: map-get($button_colors, "success");
            &:active {
                background-color: darken(map-get($button_colors, "success"), 5);
            }
            &--glossy {
                color: map-get($colors, "white");
                background-color: map-get($button_colors, "success");
                background: make_gloss($button_colors, "success_dark", "success");
            }
        }

        &--error {
            color: map-get($colors, "white");
            background-color: map-get($button_colors, "error");
            &:active {
                background-color: darken(map-get($button_colors, "error"), 5);
            }
            &--glossy {
                background-color: map-get($button_colors, "error");
                background: make_gloss($button_colors, "error_dark", "error");
            }
        }

        &--warn {
            color: map-get($colors, "white");
            background-color: map-get($button_colors, "warn");
            &:active {
                background-color: darken(map-get($button_colors, "warn"), 5);
            }
            &--glossy {
                background-color: map-get($button_colors, "warn");
                background: make_gloss($button_colors, "warn_dark", "warn");
            }
        }
    }
}
