@import "src/Components/globals";
@use "sass:map";

.muk_button {
    border: none;
    color: $darker;
    margin: 2px;
    text-align: center;
    border-radius: map-get($radius_sizes, "basic");
    &:active {
        box-shadow: 0 0 0 1px $dark;
        overflow: hidden;
    }
    &:focus {
        outline: none;
    }
    &--pointer {
        @include pointer;
    }
    &--border {
        border: 1px solid $dark;
        &:active {
            box-shadow: 1px 1px 5px $dark_t;
            overflow: hidden;
        }
    }
    &--small{
        padding: 3px 10px;
    }
    &--medium{
        padding: 6px 16px;
    }
    &--large{
        padding: 10px 20px;
    }
    &--extra{
        padding: 20px 35px;
    }
    &--jumbo{
        padding: 40px 65px;
    }
    &--square {
        border-radius: map-get($radius_sizes, "square");
    }
    &--basic {
        border-radius: map-get($radius_sizes, "basic");
    }
    &--round {
        border-radius: map-get($radius_sizes, "round");
    }
}
