@use "sass:color";
@use "sass:map";
.mut_button {
  border: none;
  text-align: center;
  color: #383838;
  display: inline-flex;
  transition: box-shadow 200ms ease-in-out; }

.mut_button:hover {
  box-shadow: 0 1px 3px #38383880; }

.mut_button:focus {
  outline: none; }

.mut_button:active {
  overflow: hidden; }

.mut_button--pointer {
  cursor: pointer; }

.mut_button--border {
  border: 1px solid #383838; }

.mut_button--size--small {
  padding: 5px 10px;
  font-size: 0.75rem; }

.mut_button--size--medium {
  padding: 10px 20px;
  font-size: 1rem; }

.mut_button--size--large {
  padding: 15px 25px;
  font-size: 1.25rem; }

.mut_button--size--extra {
  padding: 20px 35px;
  font-size: 1.65rem; }

.mut_button--size--jumbo {
  padding: 40px 65px;
  font-size: 2rem; }

.mut_button--type--square {
  border-radius: 0; }

.mut_button--type--basic {
  border-radius: 5px; }

.mut_button--type--round {
  border-radius: 50px; }

.mut_button--disabled {
  background-color: #737373 !important;
  color: #b6b6b6 !important;
  cursor: not-allowed !important; }

.mut_button--disabled--border {
  border: 1px solid #383838 !important; }

.mut_button--variant--primary {
  color: #fff;
  background-color: #137cec; }

.mut_button--variant--primary:active {
  background-color: #1170d4; }

.mut_button--variant--secondary {
  color: #fff;
  background-color: #5d87b3; }

.mut_button--variant--secondary:active {
  background-color: #4f7aa8; }

.mut_button--variant--success {
  color: #fff;
  background-color: #59af5d; }

.mut_button--variant--success:active {
  background-color: #4ea151; }

.mut_button--variant--error {
  color: #fff;
  background-color: #da2525; }

.mut_button--variant--error:active {
  background-color: #c42121; }

.mut_button--variant--warn {
  color: #000;
  background-color: #e2a217; }

.mut_button--variant--warn:active {
  background-color: #cb9115; }
