@use "sass:color";
@use "sass:map";

$colors: (
    "black": #000,
    "white": #fff,
    "light": #a3a3a3,
    "light_t": #a3a3a380,
    "lighter": #e9e9e9,
    "lighter_t": #e9e9e980,
    "medium": #b6b6b6,
    "medium_t": #b6b6b680,
    "dark": #737373,
    "dark_t": #73737380,
    "darker": #383838,
    "darker_t": #38383880,
    "darkest": #222222,
    "darkest_t": #22222280,
);

$font_sizes: (
    "small": 0.75rem,
    "medium": 1rem,
    "large": 1.25rem,
    "extra": 1.65rem,
    "jumbo": 2rem,
);

$padding_sizes: (
    "small": 5px 10px,
    "small_sq": 5px,
    "medium": 10px 20px,
    "medium_sq": 10px 20px,
    "large": 15px 25px,
    "large_sq": 15px,
    "extra": 20px 35px,
    "extra_sq": 20px,
    "jumbo": 40px 65px,
    "jumbo_sq": 40px,
);

$margin_sizes: (
    "small": 5px 10px,
    "small_sq": 5px,
    "medium": 10px 20px,
    "medium_sq": 10px 20px,
    "large": 15px 25px,
    "large_sq": 15px,
    "extra": 20px 35px,
    "extra_sq": 20px,
    "jumbo": 40px 65px,
    "jumbo_sq": 40px,
);

$radius_sizes: (
    "square": 0,
    "basic": 5px,
    "round": 50px,
);

@mixin pointer {
    cursor: pointer;
}

@mixin boxshadow {
    box-shadow: 0 1px 3px map-get($colors, "darker_t");
}

@mixin boxshadow_transition {
    transition: box-shadow 200ms ease-in-out;
}
